Options -MultiViews
Options -Indexes

<FilesMatch "\.(log|json|sql|env|ini|sqlite|db)$">
	Require all denied
</FilesMatch>

RewriteEngine On

RewriteRule ^public/ - [L]
RewriteRule ^$ public/index.php [L]
RewriteRule ^(.*)$ public/$1 [L]